body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #FCFFFE;
    background-color: #FFFFFF;
    letter-spacing: 1.5px;
    line-height: 24pt;
}

*:focus {
    border: solid #080037 2px;
    padding: 3px;
}

.skip {
    left:50%;
    position:absolute;
    transform:translateY(-500%);
    color: white;
}
.skip:focus {
    transform: translateY(100%);
    background-color: #000000;
}

.header-top {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: auto auto;
    background-color: #080037;
    padding: 30px;
}

#large-header {
    display: none;
}


.logo {
    width: 75px;
    height: 75px;
}
.site-title {
    align-self: center;
    margin: 0 10px 0 10px;
    font-size: 18pt;
    font-weight: bold; color: #FCFFFE;
}

.linkedin-link {
    align-self: center;
    justify-self: right;
}
.linkedin-logo {
    width: 35px;
}
nav {
    background-color: #342F4D;
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 100%;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
    height: 80px;
}
.current, .other-page {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #FCFFFE;
    background-color: #5F5B73;


    /* color: #FCFFFE; border-radius: 15px; background-color: #5F5B73; color: #FCFFFE;" */
}
.current {
    width: 90%;
    height: 90%;
    /* padding: 20px 25px; */
    margin: auto auto;
    background-color: #434052;
}

.other {
    display: grid;
}
.other-page {
    height: 100%;
    width: 100%;
    background-color: #5F5B73;
    justify-self: center;
    align-self: center;
}
.other-page a {
    margin: auto;
}
.other-page:hover {
    background-color: #101010;
    height: 90%;
    width: 90%;
    color: #343336;
}
.other-page:active {
    background-color: #101010;
    height: 90%;
    width: 90%;
    color: #343336;
}
.other-page a {
    color: inherit;
}
nav ul li a {
    color: #FCFFFE;
    text-decoration: none;
    letter-spacing: 1px;
}
.site-description {
    margin: 30px;
    font-size: 16pt;
    line-height: 180%;
}

a {
    text-decoration: none;
    color: #343336;
}
.home-link {
    display: flex;
}

.linkedin {
    display: grid;
}

#project-1-img, #project-2-img, .site-description {
    display: inline;
}

.project-type {
    font-size: 14pt;
    color: inherit;
    margin: 10px 0;
}

main {
    display: grid;
    background-color: #42404f;
}
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 40px 40px 0 40px;
}
.project-title {
    font-size: 36pt;
}
.phone-app-img {
    margin-top: 20px;
}
.nps-overview {
    background-color: #343336;
    display: grid;
    justify-items: center;
}
.nps-overview-p {
    color: #FCFFFE;
    margin: 0 40px 40px 40px;
    text-align: center;
    font-size: 14pt;
    line-height: 28pt;
}

.formulating-goals {
    margin: 40px;
}
.project-title {
    font-size: 24pt;
    font-weight: bold;
    line-height: 48pt;
}
h2 {
    font-size: 20pt;
    margin: 10px 0;
    font-weight: 500;
}
h3 {
    font-size: 16pt;
    margin-top: 20px;
}
h4 {
    font-size: 14pt;
    font-weight: bold;
}

.guiding-questions {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    gap: 20px;
    /* list-style-image: url('/images/_.png'); */
    /* list-style-position: inside; */
}
.guiding-questions li {
    display: grid;
    grid-template-columns: 8% 92%;
    gap: 15px;
    padding: 25px;
    background-color: #5a566b;
    border-radius: 20px;
    font-size: 16pt;
    align-items: center;

}
.guiding-questions li div {
    font-weight: 300;
    font-size: 16pt;
}


p {
    font-size: 14pt;
    margin: 10px 0;
}

.comparative-analysis {
    margin: 40px 0;
}
.competitors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    margin: 50px auto;
    max-width: 1000px;
}
.competitor {
    display: grid;
    text-align: center;
    grid-column: span 2;
}
.competitor:last-child {
    grid-column: 2 / 4;
}
.competitor-img {
    justify-self: center;
}
#adventure-project-p {
    font-size: 12pt;
    line-height: 16pt;
    /* width: 250px; */
}

.research-findings {
    margin-left: 15px;
    list-style-type: disc;
}
.research-findings li {
    margin: 10px 0;
    font-size: 14pt;
}

.interviewees {
    display: grid;
    grid-template-columns: 1fr;
}

.interviewee {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #5a566b;
    padding: 40px;
    border-radius: 30px;
    margin: 40px 0;
    grid-gap: 30px;
    max-width: 700px;
    justify-self: center;
}
.interviewee-img {
    justify-self: center;
}
.interviewee p {
    grid-column: 1 / -1;
    /* text-align: center; */
}
.interviewee-info li {
    margin: 5px 0;
    font-size: 12pt;
}


@media only screen and (min-width: 600px) {
    nav ul {
        min-width: 540px;
        width: 75%;
        justify-self: center;
    }
    .linkedin-logo {
        /* min-width: 35px; */
        max-width: 55px;
        width: 100%;
    }
    .linkedin-link {
        width: 50%;
        max-width: 55px;
    }


    .competitors {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .competitor {
        grid-column: span 2;
    }
    .competitor:last-child {
        grid-column: 3 / 5;
    }
    .interviewee {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media only screen and (min-width: 900px) {
    #small-header {
        display: none;
    }
    #large-header {
        display: grid;
        grid-template-columns: 50% 40% 10%;
        background-color: #080037;
        padding: 30px;
    }
    nav {
        background-color: inherit;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 20px;
        height: 80px;
        min-width: 0;
    }
    .current, .other-page {
        display: grid;
        align-items: center;
        /* justify-content: right; */
        border-radius: 0px;
    }
    .current {
        width: 90%;
        height: 90%;
        /* padding: 20px 25px; */
        margin: auto auto;
        background-color: inherit;
    }
    .other {
        display: grid;
    }
    .other-page {
        height: 100%;
        width: 100%;
        background-color: inherit;
        justify-self: center;
        align-self: center;
    }
    .other-page a {
        margin: auto;
    }
    .other-page:hover {
        background-color: #101010;
        height: 90%;
        width: 90%;
        color: #343336;
    }
    .other-page:active {
        background-color: #101010;
        height: 90%;
        width: 90%;
        color: #343336;
    }
    .other-page a {
        color: inherit;
    }
    nav ul li a {
        color: #FCFFFE;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .phone-app-img {
        /* grid-row: ; */
        grid-column: 2 / 3;
    }
    .page-title {
        grid-row: 1 / 3;

    }
    .project-title {
        font-size: 48pt;
        font-weight: 500;
        line-height: 50pt;
        letter-spacing: 8px;
    }
    .formulating-goals {
        margin: 40px 60px;
    }
    .guiding-questions li {
        padding: 32px;
    }

    .interviewees {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    .guiding-questions {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .competitors {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 30px;
    }
    .competitor {
        grid-column: span 2;
    }
    .competitor:nth-child(5) {
        grid-column: 2 / 4;
    }
    .competitor:nth-child(6) {
        grid-column: 4 / 6;
    }
    .competitor:nth-child(7) {
        grid-column: 6 / 8;
    }
}